
<html lang="en">
    <%- include("../partials/header.ejs") %>
    
    <body class="is-light" style="margin-left: 10%; margin-right: 10%;"> 
        <style>

            .card-container{
                display: flex; 
                justify-content: space-around;  
                flex-wrap: wrap;
                align-items: center;
            }
            .card-index{
                height: 250px; 
                width:250px; 
                padding:10px 10px 10px 20px;
                margin: 10px;
                
                box-shadow: 0px 0px 20px 2px lightgrey;
            }

            .card-index:hover{  
                border-color: #f80000;
            }
    
            .card-request-ownership{
                height:500px; 
                width:350px; 
                padding:10px;
                margin: 10px;
                
                box-shadow: 0px 0px 20px 2px lightgrey;
            }

            .tab-container{
                min-height: 700px;
                border: solid; 
                border-color: rgb(200, 200, 200); 
                border-width: 1px; 
                margin-top: 50px;
                border-radius: 4px;
            }

            .scroll-container{
                display: grid;
                grid-auto-flow: column;
                overflow: scroll;
                
                padding:10px;
                border:solid;
                border-color: rgb(200, 200, 200);
                border-radius: 6px; 
                margin:10px;
                
                justify-content: left;
            }

            .scroll-element{
                padding: 14px 40px;
                border-radius: 6px; 
                margin: 0px 10px;
                background-color: #f80000; /*linear-gradient(9deg, #f80000 , blue);*/
                text-align: center;
                display: inline-block;
                color: white;
                white-space: nowrap;
            }

            .scroll-element:hover{
                background: linear-gradient(9deg, blue , red);
            }


        </style>
    <%- include("../partials/nav.ejs") %>
    
    <div class="block tab-container">


        <section class="hero is-danger" style="background-color:#f80000; color:white; border-radius: 4px;">
            <nav class="tabs tabs is-toggle is-fullwidth is-normal">
                <div class="container">
                    <ul>
                        <li class="tab"><a href="/configure/">Index</a></li>
                        <li class="tab" ><a href="/configure/ownership">Ownership</a></li>
                        <li class="tab" ><a href="/configure/product">Product Version</a></li>
                        <li class="tab" ><a href="/configure/define">Define Relationship</a></li>               
                        <li class="tab is-active"><a href="/configure/account">Account Settings</a></li>
                    </ul>
                </div>
            </nav> 
        </section>
            
            
    
        <div class="container section" style="padding: 30px;">
            <div id="accountSettings" class="content-tab">
                <div>
                    <div class=" is-normal" style="display:inline-block; width: 200px; text-align: right; margin-right: 20px; padding-top: 7px;">
                        Name: 
                    </div>
            
                    <div class=" is-normal" style="display:inline-block;">
                        <%= currentUser.name %>
                    </div>
                </div> 
                <div>
                    <div class=" is-normal" style="display:inline-block; width: 200px; text-align: right; margin-right: 20px; padding-top: 7px;">
                        E-mail: 
                    </div>
            
                    <div class=" is-normal" style="display:inline-block;">
                        <%= currentUser.email %>
                    </div>
                </div> 
            </div>
        </div>
            
                
    </div> 

    <script>

    </script>
            
    <%- include("../partials/footer.ejs") %>
    </body>
</html>